# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Environment variables
.env
.env.*

# Logs
*.log

# SQLite
*.sqlite3

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Build files
dist/
build/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Alembic
alembic/versions/*.pyc